.selected {
	background-color: #FFE7E7;
	border-radius: 3px;
}

.sentence {
	padding: 0 3px;
}

.word:hover {
	color: #333333;
	border-bottom: 2px dashed #999;
}

.sentence:hover:not(.selected) {
	background-color: #efefef;
	border-radius: 3px;
}

.previousTranslation {
	background-color: #efefef;
}

footer {
	padding: 10px 0;
	border-top: 5px solid #ccc;
	text-align: center;
}
