
.selected {
	background-color: #FFE7E7;
	border-radius: 3px;
}

.sentence {
	padding: 0 3px;
}

.word:hover {
	color: #333333;
	border-bottom: 2px dashed #999;
}

.sentence:hover:not(.selected) {
	background-color: #efefef;
	border-radius: 3px;
}

.previousTranslation {
	background-color: #efefef;
}

footer {
	padding: 10px 0;
	border-top: 5px solid #ccc;
	text-align: center;
}

.navbar-lang-select {
	width: 150px;
	margin-top: 7px;
	margin-right: 5px;
	float: left;
}

.language-selector-upload {
	width: 100%;
	float: left;
}
